{{extend 'layout.html'}}
{{abc=request.vars['manufacturer']}}
{{user=request.vars['user']}}

{{rows= db(db.manufacturer.name==abc).select(db.manufacturer.id)}}
{{for r in rows:}}
{{id=r.id}}
{{pass}}

{{block subnav}}
{{end}}

{{block header}}
{{end}}


<div class="navigator" style="padding-left:0.5cm;">
	<p style="color: blue;">
		{{if user is None:}}
		<a href="index.html">Home</a>
	 	<a>>></a>
		<a href={{=URL('products', vars=dict(manufacturer=abc))}}>{{=abc}}</a>
		{{else:}}
		<a href={{=URL('index', vars=dict(user=request.vars['user']))}}>Home</a>
	 	<a>>></a>
		<a href={{=URL('products', vars=dict(manufacturer=abc, user=request.vars['user']))}}>{{=abc}}</a>
		{{pass}}
	</p>
</div>

{{ro= db(db.phone_id.manufacturer_id==id).select(db.phone_id.name)}}
{{for ra in ro:}}
{{ rows = db(db.product_list.name==ra.name).select() }}
{{if len(rows):}}
																																																																																																																																																									
			{{ for r in rows: }}
				{{if r.manufacturer==abc:}}
					{{if r.imageUrl!="image" or r.name!="title" or r.description!="desc":}}
				    <div class="row">     
				    	<br/>
				        <div class="span2">
				        	{{if user is None:}}
							<a class="imageLinkWrapper" href={{=URL('specifications', vars=dict(manufacturer=abc, phone=r.name))}}>
							{{else:}}
							<a class="imageLinkWrapper" href={{=URL('specifications', vars=dict(manufacturer=abc, phone=r.name, user=request.vars['user']))}}>
							{{pass}}
								<figure class=" img">
								  	<img src={{=r.imageUrl}}></img>
								</figure>
							</a>
						</div>
				        <div class="span9">
				        	{{bcd=r.name}}
				        	{{if user is None:}}				        	
				        	<a class="imageLinkWrapper" href={{=URL('specifications', vars=dict(manufacturer=abc, phone=r.name))}}>
				        	{{else:}}
				        	<a class="imageLinkWrapper" href={{=URL('specifications', vars=dict(manufacturer=abc, phone=r.name, user=request.vars['user']))}}>
				        	{{pass}}
				        		<h3>{{=bcd.strip(",")}}</h3>
				        	</a>
				        	<p>{{=r.description}}</p>
				  		</div>
				  	</div>
					{{pass}}
				{{pass}}
			{{pass}}
	{{pass}}
	{{pass}}
	